<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shop</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/style.homepage.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>.

  <body>

    <!-- CONTENT -->
    <div class="container">

      <!-- HEADER WEBSITE -->
      <div class="header">
        <div class="menu">
          <div class="logo">
            <a href="https://messenger.com"><img src="../static/img/logo_2.png" alt="Logo shop"></a>
          </div>
          <div class="menu-list">
            <ul>
              <li><a href="https://google.com">Quần</a></li>
              <li><a href="https://google.com">Áo</a></li>
              <li><a href="https://google.com">Giày</a></li>
              <li><a href="https://google.com">Phụ kiện</a></li>
              <li><a href="https://google.com">Khác</a></li>
            </ul>
          </div>
        </div>

        <div class="search-bar">
          <div class="search-box">
            <input type="text" placeholder="Tìm kiếm">
          </div>
          <div class="search-btn">
            <a href="https://google.com">
              <i class="fas fa-search" ></i>
            </a>
          </div>
        </div>


      </div>

      <!-- body -->
      <div style="padding-top: 100px">

        <table width="1200px" border="1">
          <tr>
            <td>ID</td>
            <td>Tên Sản Phẩm</td>
            <td>Hình ảnh sản phẩm</td>
            <td>Loại sản phẩm</td>
            <td>Số lượng sản phẩm</td>
            <td>Đơn giá</td>
            <td>Mô tả sản phẩm</td>
            <td><a href="../admin/products/insert">Thêm</a></td>
          </tr>

        <% danhsach.rows.forEach(function(product){ %>
          <tr>
            <td><%= product.id_product %></td>
            <td><%= product.ten_mat_hang %></td>
            <td><img src="<%= product.hinh_anh_san_pham %>" alt="San pham <%= product.id_product %>" style="width:50%"/>  </td>
            <td><%= product.loai_mat_hang %></td>
            <td><%= product.so_luong_san_pham %></td>
            <td><%= product.gia_moi_san_pham %></td>
            <td><%= product.mo_ta_san_pham %></td>
            <td>
              <a href="../admin/product/edit/<%= product.id_product %>">Edit</a> -
              <a href="../admin/product/remove/<%= product.id_product %>">Remove</a>
            </td>
          </tr>
          <% }); %>
        </table>
      </div>

      <!-- FOOTER -->
      <div class="footer">
        <p>Footer</p>
      </div>

    </div>
  </body>
</html>
